# فایل‌های پایتون و کامپایل شده
__pycache__/
*.py[cod]
*$py.class
*.so
.Python

# فایل‌های توزیع و ساخت پروژه
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
wheels/
*.egg-info/
.installed.cfg
*.egg

# محیط‌های مجازی و پوشه‌های مربوطه
.venv/
venv/
ENV/
Lib/
Include/
*.cfg
bin/
share/


# محیط‌های توسعه یکپارچه و فایل‌های موقت
.idea/
.vscode/
*.swp
*.swo
*.sublime-workspace
*.sublime-project
.project
.pydevproject
*~

# فایل‌های لاگ و موقت
*.log
logs/
log/
tmp/
temp/

